@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}

.site__header {
  width: 100%;
  background: $white;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  margin: 0 30px 0 0;
}

.navigation__item {
  padding: 16px 24px;
}

.navigation__item:hover .navigation__link {
  border-bottom: 1px solid $lightgrey;
}

.navigation__link {
  text-decoration: none;
  color: $lightgrey;
}